.imageSlider{
	margin: 100px auto;
	width: 500px; /* width of images in corousel*/
}

.slideFrame{
	height: 375px;
	overflow: hidden;
}

.slideFrame img{
	max-width: 100%; 
}

.slides{
	height: 375px; /* size  of Corousel */
	overflow: hidden;
	position: relative; /* child images will have absolute position*/
}

.slides img{
	position: absolute;
	max-width: 100%;
	top: 0;
	left: -500px; 
	/*left has a negative value which equals to the width of one of the images. 
	It's used to set the initial position of the images, placing them out of the element "slides". 
	It's used for animation when the next slide appears from the left side.
	when user clicks to slide the image , we set left to 0 for that image.*/
}

.navigation{
	margin: 5px 0 0 0;
	text-align: center;
	z-index: 10;
}

.navigation a {
  text-decoration: none;
  background: #003C72;
  padding: 2px 6px;
  color: #FFFFFF;
  display: inline-block;
}

.navigation a:hover {
  background: #0182C4;
}

.slides img{
	z-index: 1;
	opacity: 0;

	/* FOR ANIMATION */
 	transition: all linear 400ms;
 	-o-transition: all linear 400ms;
 	-moz-transition: all linear 400ms;
 	-webkit-transition: all linear 400ms;
}

.slides img:target{ /* the :target selector is used to target the image we click on */
	left: 0;
	z-index: 5; /* to overlay other images by the targeted one */
	opacity: 1;
}